<%layout("/layouts/boilerplate.ejs")%>
<body>
    
    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 1rem;
            opacity: 0.6;
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }
        .filter p{
            font-size: 0.8rem;
        }
        
        .tax-info{
            display: none;
        }
        .tax-toggle{
            border: 1px solid black;
            border-radius: 0.5rem;
            height: 3.5rem;
            padding: 0.8rem;
            margin-left: auto;
        }
    </style>
    <nav class="navbar">
    <div id="filters" class="collapse navbar-collapse">
        <div class="filter navbar-nav">
            <a href="/listings"><div style="color:black;"><i class="fa-solid fa-fire"></i></div></a>

            <p>Trending</p>
        </div>
        
        <%if (id=="rooms"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/rooms"><div style="color:#fe424d;"><i class="fa-solid fa-bed"></i></div></a>
            <p>Rooms</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/rooms"><div style="color:black;"><i class="fa-solid fa-bed"></i></div></a>
            <p>Rooms</p>
            </div>
        <%}%>
        <%if (id=="iconic"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/iconic"><div style="color:#fe424d;"><i class="fa-solid fa-mountain-city"></i></div></a>
            <p>Iconic Cities</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/iconic"><div style="color:black;"><i class="fa-solid fa-mountain-city"></i></div></a>
            <p>Iconic Cities</p>
            </div>
        <%}%>
        <%if (id=="mountains"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/mountains"><div style="color:#fe424d;"><i class="fa-solid fa-mountain"></i></div></a>
            <p>Mountains</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/mountains"><div style="color:black;"><i class="fa-solid fa-mountain"></i></div></a>
            <p>Mountains</p>
            </div>
        <%}%>
        <%if (id=="castles"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/castles"><div style="color:#fe424d;"><i class="fa-brands fa-fort-awesome"></i></div></a>
            <p>Castles</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/castles"><div style="color:black;"><i class="fa-brands fa-fort-awesome"></i></div></a>
            <p>Castles</p>
            </div>
        <%}%>
        <%if (id=="pools"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/pools"><div style="color:#fe424d;"><i class="fa-solid fa-person-swimming"></i></div></a>
            <p>Amazing Pools</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/pools"><div style="color:black;"><i class="fa-solid fa-person-swimming"></i></div></a>
            <p>Amazing Pools</p>
            </div>
        <%}%>
        <%if (id=="camping"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/camping"><div style="color:#fe424d;"><i class="fa-solid fa-campground"></i></div></a>
            <p>Camping</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/camping"><div style="color:black;"><i class="fa-solid fa-campground"></i></div></a>
            <p>Camping</p>
            </div>
        <%}%>
        <%if (id=="farms"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/farms"><div style="color:#fe424d;"><i class="fa-solid fa-cow"></i></div></a>
            <p>Farms</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/farms"><div style="color:black;"><i class="fa-solid fa-cow"></i></div></a>
            <p>Farms</p>
            </div>
        <%}%>
        <%if (id=="arctic"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/arctic"><div style="color:#fe424d;"><i class="fa-solid fa-snowman"></i></div></a>
            <p>Arctic</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/arctic"><div style="color:black;"><i class="fa-solid fa-snowman"></i></div></a>
            <p>Arctic</p>
            </div>
        <%}%>
        <%if (id=="doms"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/doms"><div style="color:#fe424d;"><i class="fa-solid fa-igloo"></i></div></a>
            <p>Doms</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/doms"><div style="color:black;"><i class="fa-solid fa-igloo"></i></div></a>
            <p>Doms</p>
            </div>
        <%}%>
        <%if (id=="boats"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/boats"><div style="color:#fe424d;"><i class="fa-solid fa-sailboat"></i></div></a>
            <p>Boats</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/boats"><div style="color:black;"><i class="fa-solid fa-sailboat"></i></div></a>
            <p>Boats</p>
            </div>
        <%}%>
        <%if (id=="play"){%>
            <div class="filter navbar-nav" style="opacity: 1;">
            <a href="/listings/cat/play"><div style="color:#fe424d;"><i class="fa-solid fa-bowling-ball"></i></div></a>
            <p>Play</p>
            </div>
        <%}else{%>
            <div class="filter navbar-nav">
            <a href="/listings/cat/play"><div style="color:black;"><i class="fa-solid fa-bowling-ball"></i></div></a>
            <p>Play</p>
            </div>
        <%}%>
        <div class="tax-toggle navbar-nav">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
              </div>
        </div>
    </div>
    </nav>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for(let listings of allListings){%>
            <a href="/listings/<%=listings.id%>" class="listing-link">
            <div class="card col listing-card" >
                <img src="<%=listings.image.url %>" class="card-img-top" alt="listing-image" style="height:20rem">
                <div class="card-body">
                  <p class="card-text">
                    <b><%=listings.title %></b><br>
                    &#8377;<%=listings.price.toLocaleString("en-IN")%>/night
                    <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
                    </p>
                </div>
                <div class="card-img-overlay"></div>
            </div>
            </a>
        <%}%>
    </div>
    <script>
        let taxSwicth=document.getElementById("flexSwitchCheckDefault");
        taxSwicth.addEventListener("click",()=>{
            let taxInfo=document.getElementsByClassName("tax-info");
            for(info of taxInfo){
                if(info.style.display!="inline"){
                    info.style.display="inline";
                }
                else{
                    info.style.display="none";
                }
                
            }
        })
    </script>
    
    
</body>



