<%layout("/layouts/boilerplate.ejs")%>
<body>
    <div>
        <h3 style="text-align: center">Privacy Policies</h3>
        <p>
            <b>Standard Privacy Policy</b><br>
            Privacy Policy for Wanderlust<br>
            
            Last Updated: 24-05-2024<br>
            
            Wanderlust is dedicated to protecting your privacy. This policy outlines how we collect, use, and safeguard your personal information.<br>
            
            Information We Collect:<br>
            
            Personal Information: Name, email address, password.<br>
            Technical Data: IP address, browser type, operating system.<br>
            Usage Data: Pages visited, time spent on each page, referral sources.<br>
            How We Use Your Information:<br>
            
            To personalize user experience.<br>
            To improve our website.<br>
            To send periodic emails and updates.<br>
            To respond to inquiries and provide customer support.<br>
            Cookies and Tracking:<br>
            We use cookies to track site usage and enhance user experience. You can control cookie settings through your browser.<br>
            
            Third-Party Services:<br>
            We may share your data with trusted third parties to assist in operating our website, conducting our business, or serving our users, as long as those parties agree to keep this information confidential.<br>
            
            Data Security:<br>
            We use a variety of security measures to protect your personal information.<br>
            
            Your Rights:<br>
            You have the right to access, correct, or delete your personal data. Contact us at privacy@wanderlust.com for any requests.<br>
            
            Changes to This Policy:<br>
            We may update this policy periodically. We will notify you of any changes by posting the new policy on this page.<br>
            
            Contact Us:<br>
            For questions or concerns regarding this policy, email us at privacy@wanderlust.com.<br>
            
            </p>
    </div>
    

</body>